.title {
    height: 4rem;
    background-color: #282c34;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding-left: 2rem;
    padding-top: .25rem;
}

.app {
    display: flex;
    background-color: #484c54;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
